.progress-container {
  margin: 0 auto;
  width: 260px;
  height: 11px;
  border-radius: 10px;
  background: #f2f3f37d;
}

.progress-bar {
  height: 11px;
  background: #3bde7c;
  border-radius: 10px;
  width: 0%;
}
