<header class="header-section">
  <div class="container">
    <div class="wrapper-desc">
      <button
        type="button"
        class="menu-btn"
        aria-expanded="false"
        aria-controls="menu"
        id="open-menu"
      >
        <svg
          width="24"
          height="16"
          aria-label="Кнопка открытия мобильного меню"
        >
          <use
            class="icon-menu-open"
            href="./images/symbol-defs.svg#icon-menu"
          ></use>
        </svg>
      </button>

      <img class="wrapper-desc_img" src="./images/rain_bk3-1.png" alt="" />
      <p class="header-title">Tест на определение IQ</p>
    </div>
  </div>

  <div id="menu-container" class="menu-heder menu">
    <button
      type="button"
      class="menu-btn-close menu-btn"
      aria-expanded="false"
      aria-controls="menu"
      id="close-menu"
    >
      <svg width="28" height="28" aria-label="Кнопка открытия мобильного меню">
        <use
          class="icon-menu-close"
          href="./images/symbol-defs.svg#icon-close"
        ></use>
      </svg>
    </button>
    <nav class="nav">
      <a class="nav_link" href="/">Главная</a>
      <a class="nav_link" href="#i">Информация о тесте</a>
      <a class="nav_link" href="quiz/1">Пройти тест</a>
    </nav>
  </div>
</header>
