<main>

  <section class='overlay-background'>
    <div class='container section-hero'>
      <p class='hero-legend'>Пройдите точный и быстрый </p>
      <h1 class='hero-title'>Тест на определение IQ </h1>
      <img class='hero-img' src={{img}} alt='' />

      <a class='btn' href='quiz/1' type='button'>Пройти тест</a>

      <p class='hero-text'>И получите рекомендации по развитию своего интеллекта
        <br />
        <span>
          и улучшению финансового благосостояния и личной жизни</span></p>
      <p class='hero-span-load-more'>^</p>
      <a class='hero-text-load-more' href='#i'>Подробнее</a>
    </div>
  </section>

  <section class='container overlay-aside'>
    <div class='wrapper-aside'>
      <a name='i'></a>
      <p class='aside-text'>
        <span class='marks'>&ldquo;</span>
        Профессиональный IQ-тест позволяет не только определить коэффициент
        вашего интеллекта, но и выработать список рекомендаций для повышения
        этого показателя.<span class='marks marks-after'> &rdquo;</span></p>

    </div>
  </section>
  <section class='container overlay-benefits'>
    <div class='benefits-wrapper'>
      <p class='benefits-text'>Также по результатам теста
        <span>вы получите</span>
        подробные
        <span>советы</span>
        по определению наиболее перспективной
        <span>для вашего типа интеллекта сферы деятельности,</span>
        которая принесет вам скорейший финансовый результат.
      </p>
      <img class='benefits-img' src={{img1}} alt='' />

      <a class='btn benefits-btn' href='quiz/1' type='button'>пойти тест</a>
    </div>
  </section>

  <section class='container overlay-background'>

    <div class='description-wrapper'>
      <p class='description-text'>Прохождение теста займет у вас не более
        <span>12 минут</span>, а его результаты вы сможете
        <span>использовать всю жизнь</span>.</p>
      <div class='description-decor'></div>
      <p class='description-info'>Профессиональная интерпретация и детально
        <span>проработанные рекомендации</span>
        позволят вам качественно
        <span>изменить все аспекты своей жизни:</span>
        от финансового до любовного.</p>
      <div class='description-decor-left'></div>

      <a class='btn btn-mod' href='quiz/1'>пойти тест</a>

      <p class='copyright'>&#169;2019</p>
    </div>
  </section>

</main>