<section class='overlay-background'>
  <div class='container section-q1'>
    <p class='question-title'>Обработка результатов

    </p>

    <div class='loader'>Loading...</div>

    <div id='result' class='text-fin' style='color: aliceblue;'>Определение
      стиля мышления.........</div>

  </div>
</section>