<section class='overlay-background'>
  <div class='container section-q1'>

    <p class='question-title'>Ваш пол:</p>
    <form class='q1-form' id='quizForm'>

      <input
        id='man'
        class='question-text-form_input'
        type='radio'
        name='item'
        value='man'
      />
      <label for='man' class='question-text-form_label'>

        Мужчина
      </label>
      <input
        id='woman'
        class='question-text-form_input'
        type='radio'
        name='item'
        value='woman'
      />
      <label for='woman' class='question-text-form_label'>

        Женщина
      </label>
      <button class='btn btn-q1' type='submit'>Далее</button>

    </form>

  </div>
</section>