<section class='overlay-background'>
  <div class='container section-q1'>
    <p class='question-title'>Выберите лишнее:</p>
    <form class='q1-form form' id='quizForm'>

      <input
        id='home'
        class='question-text-form_input'
        type='radio'
        name='item'
        value='false'
      />
      <label for='home' class='question-text-form_label'>
        Дом
      </label>
      <input
        class='question-text-form_input'
        type='radio'
        name='item'
        value='false'
        id='hut'
      />
      <label for='hut' class='question-text-form_label'>
        Шалаш
      </label>
      <input
        id='bungalow'
        class='question-text-form_input'
        type='radio'
        name='item'
        value='false'
      />
      <label for='bungalow' class='question-text-form_label'>
        Бунгало
      </label>
      <input
        id='bench'
        class='question-text-form_input'
        type='radio'
        name='item'
        value='true'
      />
      <label for='bench' class='question-text-form_label'>
        Скамейка
      </label>
      <input
        id='shack'
        class='question-text-form_input'
        type='radio'
        name='item'
        value='false'
      />
      <label for='shack' class='question-text-form_label'>
        Хижина
      </label>
      <button class='btn btn-q1' type='submit'>Далее</button>
    </form>

  </div>
</section>