<section class='overlay-background'>
  <div class='container section-q1'>

    <form class='q1-form form' id='quizForm'>
      <p class='q1-form-title'>Вам привычнее и важнее:
      </p>
      <label class='question-text-form_label'>
        <input
          class='question text form'
          type='radio'
          name='item'
          value='false'
        />
        Наслаждаться каждой минутой проведенного времени
      </label>
      <label class='question-text-form_label'>
        <input
          class='question text form'
          type='radio'
          name='item'
          value='false'
        />
        Быть устремленными мыслями в будущее
      </label>
      <label class='question-text-form_label'>
        <input
          class='question text form'
          type='radio'
          name='item'
          value='false'
        />
        Учитывать в ежедневной практике прошлый опыт
      </label>

      <button class='btn btn-q1' type='submit'>Далее</button>
    </form>

  </div>
</section>