<section class='overlay-background'>
  <div class='container section-q1'>
    <p class='q1-form-title'>Выберите правильную фигуру из четырёх
      пронумерованных.
    </p>

    <img class='img-q8' src={{imgQ8}} width:185 alt='' />

    <form class='q1-form form' id='quizForm'>
      <div class='wrapper-q8'>

        <input id='1' class='input-q8' type='radio' name='item' value='true' />
        <label for='1' class='label-q8'>

          <span class='testSpan'>1</span>

        </label>
        <input id='2' class='input-q8' type='radio' name='item' value='false' />
        <label for='2' class='label-q8'>
          <span>2</span>
        </label>

        <input id='3' class='input-q8' type='radio' name='item' value='false' />
        <label for='3' class='label-q8'>

          <span>3</span>
        </label>

        <input
          class='input-q8 testInp'
          type='radio'
          name='item'
          value='false'
          id='4'
        />
        <label class='label-q8 testLeb' for='4'>
          <span>4</span>
        </label>

      </div>
      <button class='btn btn-q1' type='submit'>Далее</button>
    </form>

  </div>
</section>