<section class='overlay-background'>
  <div class='container wrapper'>

    <div class='progress-container'>
      <div class='progress-bar' id='progressBar'></div>
    </div>

    <p class='question-title q2-title'>Укажите ваш возраст:</p>
    <form class='quiz-form' id='quizForm'>

      <input
        id='to18'
        class='quiz-form_input'
        type='radio'
        name='item'
        value='to 18'
      />
      <label for='to18' class='quiz-form_label'>
        До 18
      </label>
      <input
        id='18to28'
        class='quiz-form_input'
        type='radio'
        name='item'
        value='from 18 to 28'
      />
      <label for='18to28' class='quiz-form_label'>
        От 18 до 28
      </label>
      <input
        id='29to35'
        class='quiz-form_input'
        type='radio'
        name='item'
        value='from 29 to 35'
      />
      <label for='29to35' class='quiz-form_label'>
        от 29 до 35
      </label>
      <input
        id='to38'
        class='quiz-form_input'
        type='radio'
        name='item'
        value='to 38'
      />
      <label for='to38' class='quiz-form_label'>
        От 36
      </label>
      <div class='btn-cont'>
        <button class='btn' type='submit'>Далее

        </button>
      </div>
    </form>

  </div>
</section>