<section class='overlay-background'>
  <div class='container wrapper'>

    <div class='progress-container'>
      <div class='progress-bar' id='progressBar'></div>
    </div>

    <p class='question-title q6-title'>Отдохните пару секунд, еще раз Выберите
      цвет, который сейчас наиболее Вам приятен:
    </p>
    <form class='quiz-form' id='quizForm'>

      <div class='quiz-form_wrapper'>
        <input
          class='quiz-form-color_input'
          type='radio'
          name='item'
          id='grey'
          value='#a8a8a8'
        />
        <label class='quiz-form-color_label' for='grey'><span
            class='grey'
          ></span></label>

        <input
          class='quiz-form-color_input'
          type='radio'
          name='item'
          id='teal'
          value='#46b2ad'
        />
        <label class='quiz-form-color_label' for='teal'><span
            class='teal'
          ></span></label>
        <input
          class='quiz-form-color_input'
          type='radio'
          name='item'
          id='brown'
          value='#a95402'
        />
        <label class='quiz-form-color_label' for='brown'><span
            class='brown'
          ></span></label>

        <input
          class='quiz-form-color_input'
          type='radio'
          name='item'
          id='green'
          value='#00a701'
        />
        <label class='quiz-form-color_label' for='green'><span
            class='green'
          ></span></label>

        <input
          class='quiz-form-color_input'
          type='radio'
          name='item'
          id='black'
          value='#000000'
        />
        <label class='quiz-form-color_label' for='black'><span
            class='black'
          ></span></label>

        <input
          class='quiz-form-color_input'
          type='radio'
          name='item'
          id='red'
          value='#f60001'
        />
        <label class='quiz-form-color_label' for='red'><span
            class='red'
          ></span></label>

        <input
          class='quiz-form-color_input'
          type='radio'
          name='item'
          id='purple'
          value='#850068'
        />
        <label class='quiz-form-color_label' for='purple'><span
            class='purple'
          ></span></label>
        <input
          class='quiz-form-color_input'
          type='radio'
          name='item'
          id='yellow'
          value='#feff17'
        />
        <label class='quiz-form-color_label' for='yellow'><span
            class='yellow'
          ></span></label>
        <input
          class='quiz-form-color_input'
          type='radio'
          name='item'
          id='blue'
          value='#0000a9'
        />
        <label class='quiz-form-color_label' for='blue'><span
            class='blue'
          ></span></label>

      </div>
      <div class='btn-cont'>
        <button class='btn' type='submit'>Далее</button>
      </div>
    </form>

  </div>
</section>