<section class='overlay-background'>
  <div class='container wrapper'>

    <div class='progress-container'>
      <div class='progress-bar' id='progressBar'></div>
    </div>

    <p class='question-title q3-title'>Выберите лишнее:</p>
    <form class='quiz-form form' id='quizForm'>

      <input
        id='home'
        class='quiz-form_input'
        type='radio'
        name='item'
        value='false'
      />
      <label for='home' class='quiz-form_label'>
        Дом
      </label>
      <input
        class='quiz-form_input'
        type='radio'
        name='item'
        value='false'
        id='hut'
      />
      <label for='hut' class='quiz-form_label'>
        Шалаш
      </label>
      <input
        id='bungalow'
        class='quiz-form_input'
        type='radio'
        name='item'
        value='false'
      />
      <label for='bungalow' class='quiz-form_label'>
        Бунгало
      </label>
      <input
        id='bench'
        class='quiz-form_input'
        type='radio'
        name='item'
        value='true'
      />
      <label for='bench' class='quiz-form_label'>
        Скамейка
      </label>
      <input
        id='shack'
        class='quiz-form_input'
        type='radio'
        name='item'
        value='false'
      />
      <label for='shack' class='quiz-form_label'>
        Хижина
      </label>
      <div class='btn-cont'>
        <button class='btn' type='submit'>Далее</button>
      </div>
    </form>

  </div>
</section>