<section class='overlay-background'>
  <div class='container section-q1'>
    <p class='question-title'>Укажите ваш возраст:</p>
    <form class='q1-form' id='quizForm'>

      <input
        id='to18'
        class='question-text-form_input'
        type='radio'
        name='item'
        value='to 18'
      />
      <label for='to18' class='question-text-form_label'>
        До 18
      </label>
      <input
        id='18to28'
        class='question-text-form_input'
        type='radio'
        name='item'
        value='from 18 to 28'
      />
      <label for='18to28' class='question-text-form_label'>
        От 18 до 28
      </label>
      <input
        id='29to35'
        class='question-text-form_input'
        type='radio'
        name='item'
        value='from 29 to 35'
      />
      <label for='29to35' class='question-text-form_label'>
        от 29 до 35
      </label>
      <input
        id='to38'
        class='question-text-form_input'
        type='radio'
        name='item'
        value='to 38'
      />
      <label for='to38' class='question-text-form_label'>
        От 36
      </label>
      <button class='btn btn-q1' type='submit'>Далее</button>
    </form>

  </div>
</section>