<section class='overlay-background'>
  <div class='container section-q1'>

    <form class='q1-form form' id='quizForm'>
      <p class='q1-form-title'>Отдохните пару секунд, еще раз Выберите цвет,
        который сейчас наиболее Вам приятен:
      </p>
      <div class='wrapper-q5-color'>
        <input
          class='input-q5'
          type='radio'
          name='item'
          id='grey'
          value='#a8a8a8'
        />
        <label class='label-q5' for='grey'><span class='grey'></span></label>

        <input
          class='input-q5'
          type='radio'
          name='item'
          id='teal'
          value='#46b2ad'
        />
        <label class='label-q5' for='teal'><span class='teal'></span></label>
        <input
          class='input-q5'
          type='radio'
          name='item'
          id='brown'
          value='#a95402'
        />
        <label class='label-q5' for='brown'><span class='brown'></span></label>

        <input
          class='input-q5'
          type='radio'
          name='item'
          id='green'
          value='#00a701'
        />
        <label class='label-q5' for='green'><span class='green'></span></label>

        <input
          class='input-q5'
          type='radio'
          name='item'
          id='black'
          value='#000000'
        />
        <label class='label-q5' for='black'><span class='black'></span></label>

        <input
          class='input-q5'
          type='radio'
          name='item'
          id='red'
          value='#f60001'
        />
        <label class='label-q5' for='red'><span class='red'></span></label>

        <input
          class='input-q5'
          type='radio'
          name='item'
          id='purple'
          value='#850068'
        />
        <label class='label-q5' for='purple'><span
            class='purple'
          ></span></label>
        <input
          class='input-q5'
          type='radio'
          name='item'
          id='yellow'
          value='#feff17'
        />
        <label class='label-q5' for='yellow'><span
            class='yellow'
          ></span></label>
        <input
          class='input-q5'
          type='radio'
          name='item'
          id='blue'
          value='#0000a9'
        />
        <label class='label-q5' for='blue'><span class='blue'></span></label>

      </div>

      <button class='btn btn-q1' type='submit'>Далее</button>
    </form>

  </div>
</section>