<section class='overlay-background'>
  <div class='container wrapper'>

    <div class='progress-container'>
      <div class='progress-bar' id='progressBar'></div>
    </div>

    <p class='question-title q11-title'>Вставьте подходящее число

    </p>

    <img class='img-quiz-11' src={{imgQ11}} width:185 alt='img-quiz-11' />
    <div class='border-el'></div>
    <form class='quiz-form' id='quizForm'>
      <div class='quiz-form_wrapper-cards'>

        <input
          id='34'
          class='quiz-form_cards-input'
          type='radio'
          name='item'
          value='false'
        />
        <label for='34' class='quiz-form_cards-label'>

          <span>34</span>

        </label>
        <input
          id='36'
          class='quiz-form_cards-input'
          type='radio'
          name='item'
          value='false'
        />
        <label for='36' class='quiz-form_cards-label'>
          <span>36</span>
        </label>

        <input
          id='53'
          class='quiz-form_cards-input'
          type='radio'
          name='item'
          value='false'
        />
        <label for='53' class='quiz-form_cards-label'>

          <span>53</span>
        </label>

        <input
          class='quiz-form_cards-input'
          type='radio'
          name='item'
          value='true'
          id='44'
        />
        <label class='quiz-form_cards-label' for='44'>
          <span>44</span>
        </label>
        <input
          class='quiz-form_cards-input'
          type='radio'
          name='item'
          value='false'
          id='66'
        />
        <label class='quiz-form_cards-label' for='66'>
          <span>66</span>
        </label>
        <input
          class='quiz-form_cards-input'
          type='radio'
          name='item'
          value='false'
          id='42'
        />
        <label class='quiz-form_cards-label' for='42'>
          <span>42</span>
        </label>

      </div>
      <div class='btn-cont'>
        <button class='btn' type='submit'>Далее</button>
      </div>
    </form>

  </div>
</section>