<section class='overlay-background'>
  <div class='container wrapper'>
    <div class='progress-container'>
      <div class='progress-bar' id='progressBar'></div>
    </div>
    <p class='question-title q12-title'>Обработка результатов

    </p>

    <div class='loader'>Loading...</div>

    <div id='result' class='textPrint'>Определение стиля мышления. .
    </div>

  </div>
</section>