<section class='overlay-background'>

  <div class='container section-q1 container-question10 wrapper-ques13'>

    <h1 class='question-title finish-title'>Ваш результат рассчитан:</h1>

    <p class='finish-text'>
      <span>Вы относитесь к 3%</span>
      респондентов, чей уровень интеллекта более чем на 15 пунктов отличается от
      среднего в большую или меньшую сторону!
    </p>

    <p class='finish-subtitle'>Скорее получите свой результат!
    </p>
    <div id='renderTyt'></div>
    <p class='finish-desc'>В целях защиты персональных данных результат теста,
      их подробная интерпретация и рекомендации доступны в виде голосового
      сообщения по звонку с вашего мобильного телефона
    </p>

    <p id='time-remainder' class='finish-lead'>Звоните скорее, запись доступна
      всего
      <br />
      <span id='deadline-timer'> 10:00</span>
      <span id='min-or-sec'>минут</span></p>

    <div class='wrapper-btn-finish'>
      <button type='button' class='finish-btn'>
        <img class='finish-btn_icon' src={{call}} alt='icon-call' />
        Позвонить и прослушать результат
      </button>
    </div>

    <div class='finish-decor_left'></div>
    <div class='finish-decor_right'></div>

    <div class='testRender'></div>

    <p class='copy'>TERMENI SI CONDITII: ACESTA ESTE UN SERVICIU DE
      DIVERTISMENT. PRIN FOLOSIREA LUI DECLARATI CA AVETI 18 ANI IMPLINITI,
    </p>

  </div>

</section>