<section class='overlay-background'>
  <div class='container section-q1'>
    <p class='question-title title_q10'>Какое определение, по-Вашему, больше
      подходит к этому геометрическому изображению:
    </p>
    <img class='img-q10' src={{imgQ10}} width:185 alt='' />
    <form class='q1-form form' id='quizForm'>
      <input
        id='pointed'
        class='question-text-form_input'
        type='radio'
        name='item'
        value='pointed'
      />
      <label for='pointed' class='question-text-form_label'>

        Оно остроконечное
      </label>
      <input
        id='stably'
        class='question-text-form_input'
        type='radio'
        name='item'
        value='stably'
      />
      <label for='stably' class='question-text-form_label'>

        Оно устойчиво
      </label>
      <input
        id='stateOfEquilibrium'
        class='question-text-form_input input_q10'
        type='radio'
        name='item'
        value='state Of Equilibrium'
      />
      <label
        for='stateOfEquilibrium'
        class='question-text-form_label label_q10'
      >
        <span>Оно-находится в состоянии равновесия</span>

      </label>

      <button class='btn btn-q1' type='submit'>Далее</button>
    </form>

  </div>
</section>