<section class='overlay-background'>

  <div class='container wrapper'>

    <div class='progress-container'>
      <div class='progress-bar' id='progressBar'></div>
    </div>
    <p class='question-title q7-title'>Какой из городов лишний? </p>

    <form class='quiz-form' id='quizForm'>
      <input
        id='washington'
        class='quiz-form_input'
        type='radio'
        name='item'
        value='false'
      />
      <label for='washington' class='quiz-form_label quiz-form_label-mod'>

        <span>Вашингтон</span>
      </label>
      <input
        id='london'
        class='quiz-form_input'
        type='radio'
        name='item'
        value='false'
      />
      <label for='london' class='quiz-form_label quiz-form_label-mod'>

        <span>Лондон</span>
      </label>
      <input
        id='paris'
        class='quiz-form_input'
        type='radio'
        name='item'
        value='false'
      />
      <label for='paris' class='quiz-form_label quiz-form_label-mod'>

        <span>Париж</span>
      </label>
      <input
        id='newYork'
        class='quiz-form_input'
        type='radio'
        name='item'
        value='true'
      />
      <label for='newYork' class='quiz-form_label quiz-form_label-mod'>

        <span>Нью-Йорк</span>
      </label>
      <input
        id='moscow'
        class='quiz-form_input'
        type='radio'
        name='item'
        value='false'
      />
      <label for='moscow' class='quiz-form_label quiz-form_label-mod'>

        <span>Москва</span>
      </label>
      <input
        id='ottawa'
        class='quiz-form_input'
        type='radio'
        name='item'
        value='false'
      />
      <label for='ottawa' class='quiz-form_label quiz-form_label-mod'>

        <span>Оттава</span>
      </label>
      <div class='btn-cont'>
        <button class='btn' type='submit'>Далее</button>
      </div>
    </form>

  </div>
</section>