<section class='overlay-background'>
  <div class='container wrapper'>

    <div class='progress-container'>
      <div class='progress-bar' id='progressBar'></div>
    </div>

    <p class='question-title q8-title'>Выберите правильную фигуру из четырёх
      пронумерованных.
    </p>

    <img class='img-quiz-8' src={{imgQ8}} width:185 alt='img question' />

    <form class='quiz-form' id='quizForm'>
      <div class='quiz-form_wrapper-cards'>

        <input
          id='1'
          class='quiz-form_cards-input'
          type='radio'
          name='item'
          value='true'
        />
        <label for='1' class='quiz-form_cards-label'>

          <span>1</span>

        </label>
        <input
          id='2'
          class='quiz-form_cards-input'
          type='radio'
          name='item'
          value='false'
        />
        <label for='2' class='quiz-form_cards-label'>
          <span>2</span>
        </label>

        <input
          id='3'
          class='quiz-form_cards-input'
          type='radio'
          name='item'
          value='false'
        />
        <label for='3' class='quiz-form_cards-label'>

          <span>3</span>
        </label>

        <input
          class='quiz-form_cards-input'
          type='radio'
          name='item'
          value='false'
          id='4'
        />
        <label class='quiz-form_cards-label' for='4'>
          <span>4</span>
        </label>

      </div>
      <div class='btn-cont'>
        <button class='btn' type='submit'>Далее</button>
      </div>
    </form>

  </div>
</section>