<section class='overlay-background'>
  <div class='container section-q1'>

    <form class='q1-form form' id='quizForm'>
      <p class='q1-form-title'>Какой из городов лишний? </p>
      <label class='question-text-form_label'>
        <input
          class='question text form'
          type='radio'
          name='item'
          value='false'
        />
        Вашингтон
      </label>
      <label class='question-text-form_label'>
        <input
          class='question text form'
          type='radio'
          name='item'
          value='false'
        />
        Лондон
      </label>
      <label class='question-text-form_label'>
        <input
          class='question text form'
          type='radio'
          name='item'
          value='false'
        />
        Париж
      </label>
      <label class='question-text-form_label'>
        <input
          class='question text form'
          type='radio'
          name='item'
          value='true'
        />
        Нью-Йорк
      </label>
      <label class='question-text-form_label'>
        <input
          class='question text form'
          type='radio'
          name='item'
          value='false'
        />
        Москва
      </label>
      <label class='question-text-form_label'>
        <input
          class='question text form'
          type='radio'
          name='item'
          value='false'
        />
        Оттава
      </label>
      <button class='btn btn-q1' type='submit'>Далее</button>
    </form>

  </div>
</section>