<section class='overlay-background'>
  <div class='container wrapper'>

    <div class='progress-container'>
      <div class='progress-bar' id='progressBar'></div>
    </div>

    <p class='question-title q4-title'>Продолжите числовой ряд: 18 20 24 32 </p>

    <form class='quiz-form' id='quizForm'>

      <input
        id='62'
        class='quiz-form_input'
        type='radio'
        name='item'
        value='false'
      />
      <label for='62' class='quiz-form_label quiz-form_label-mod'>
        <span>62</span>
      </label>
      <input
        id='48'
        class='quiz-form_input'
        type='radio'
        name='item'
        value='true'
      />
      <label for='48' class='quiz-form_label quiz-form_label-mod'>
        <span>48</span>
      </label>
      <input
        id='74'
        class='quiz-form_input'
        type='radio'
        name='item'
        value='false'
      />
      <label for='74' class='quiz-form_label quiz-form_label-mod'>
        <span>74</span>
      </label>
      <input
        id='57'
        class='quiz-form_input'
        type='radio'
        name='item'
        value='false'
      />
      <label for='57' class='quiz-form_label quiz-form_label-mod'>
        57
      </label>
      <input
        id='60'
        class='quiz-form_input'
        type='radio'
        name='item'
        value='false'
      />
      <label for='60' class='quiz-form_label quiz-form_label-mod'>
        <span>60</span>
      </label>
      <input
        id='77'
        class='quiz-form_input'
        type='radio'
        name='item'
        value='false'
      />
      <label for='77' class='quiz-form_label quiz-form_label-mod'>
        <span>77</span>
      </label>
      <div class='btn-cont'>
        <button class='btn' type='submit'>Далее</button>
      </div>
    </form>

  </div>
</section>