{{#each this}}
  <div class='fetch-content'>
    <h3 class='fetch-content_title'>Fetch Data</h3>

    <p>Name: {{this.name}}</p>
    <p>Gender: {{this.gender}}</p>
    <p>Birth year: {{this.birth_year}}</p>
    <p>Color eye: {{this.eye_color}}</p>

  </div>

{{/each}}